body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    box-shadow: 1px 1px 2px black;
}

ul {
    list-style-type: none;
}

.test {
    background: linear-gradient(135deg, #8a8a8a, #e0e4eb);
    border: 2px solid;
    border-color: black;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}